{% extends "app/base.html" %}
{% load static %}
{% block titulo %}
 
 {% endblock %}

{% block contenido %}

                <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                    <div class="buy-tickets">
                        <a class="btn gradient-bg" href="/admin">ADNIM</a>
                    </div><!-- .buy-tickets -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .header-bar -->

    <div class="page-header contact-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">CONTACTOS.</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
</header><!-- .site-header -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="contact-location-details">
                <h2 class="entry-title">New York</h2>

                <div class="entry-content">
                    <p>Contamos con 18 oficinas dentro del pais y expandiendonos.</p>
                </div>

                <footer class="entry-footer">
                    <ul>
                        
                        <li class="contact-number">665 5667 8899 888</li>
                        <li class="contact-email"><a href="#">diegoCD888@gmai.com</a></li>
                    </ul>
                </footer>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="contact-location-details">
                <h2 class="entry-title">MEXICO</h2>

                <div class="entry-content">
                    <p>Actualmente Contamos con serca de 100 oficinas dentro del pais.</p>
                </div>

                <footer class="entry-footer">
                    <ul>
                        
                        <li class="contact-number">447-134-09-88</li>
                        <li class="contact-email"><a href="#">diegoCD888@gmai.com</a></li>
                    </ul>
                </footer>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="contact-location-details">
                <h2 class="entry-title">Los Angeles</h2>

                <div class="entry-content">
                    <p>Contamos con serca de 54 oficinas dentro del pais y expandiendonos.</p>
                </div>

                <footer class="entry-footer">
                    <ul>
                        
                        <li class="contact-number">447-134-09-88</li>
                        <li class="contact-email"><a href="#">diegoCD888@gmai.com</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="contact-page-map">
    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university of san francisco&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="contact-form">
                <h2 class="entry-title">Comentarios</h2>
                <form action=""  method="post">
                    {% csrf_token %}
                    <div class="col-12 col-md-4">
                        <label form="nombre">Nombre</label>
                        <input type="text" placeholder="name" name="{{ form.nombre.name}}"></div>
                    <div class="col-12 col-md-4">
                        <label form="email">Correo Electronico</label>
                        <input type="email" placeholder="email" name="{{ form.email.name}}"></div>
                    <div class="col-12 ">
                        <label form="comentario">Comentario</label>
                        <textarea  type="text" placeholder="comentario" name="{{ form.comentario.name}}"></textarea>
                    </div>
                    
                    <div>
                        &nbsp;
                        <input  name="submit" type="submit" value="Enviar">
                        &nbsp;
                        <input  name="reset" type="reset" value="Borrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<form action="" method="post">
          
    {% csrf_token %}
    {{ form  }}
    {% comment %} <div class="contact-form">
      <input type="text" class="md-1" required name="{{ form.nombre.name }}"
    </div>
    <div class="btn">
      <input type="text" class="md-1" name="{{ form.email.name }}"
    </div>
    <div class="col-md-6">
      <input type="text" class="md-1" name="{{ form.comentario.name }}"
    </div> {% endcomment %}

    <div>
      <input name="submit" type="submit" value="Submit Form">
      &nbsp;
      <input name="reset" type="reset" value="Reset Form">
    </div>
  </form>-->


{% endblock %}