{% extends "app/base.html" %}
{% load static %}
{% block titulo %}

{% endblock %}

{% block contenido %}

<div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
    <div class="buy-tickets">
        <a class="btn gradient-bg" href="#">Ingresa</a>
    </div><!-- .buy-tickets -->
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .container-fluid -->
</div><!-- .header-bar -->


<div class="page-header elements-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <hi class="entry-titulo"></hi>
                </header>
            </div>
        </div>
    </div>
</div>
</header>

<div class="container">
    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h2 class="entry-title">BUMERAN</h2>
            </header>

            <div class="entry-content elements-container">
                <a href="#" class="btn gradient-bg">Empieza hoy</a>

            </div>
        </div>
    </div>

    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h2 class="entry-title">BOLSA</h2>
            </header>

            <div class="entry-content elements-container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="accordion-wrap type-accordion">
                            <h3 class="entry-title flex justify-content-between align-items-center active">Puestos sin
                                fronteras<span class="arrow-r"></span></h3>

                            <div class="entry-content">
                                <p>Organización civil mexicana, laica, apartidista y sin fines de lucro que contribuye a
                                    la promoción, protección y defensa de los Derechos Humanos de las
                                    personas migrantes, solicitantes de asilo, refugiadas, beneficiarias de protección
                                    complementaria y apátridas para dignificar sus condiciones</p>
                            </div>

                            <h3 class="entry-title flex justify-content-between align-items-center">Puestos ejecutivos y
                                directivos<span class="arrow-r"></span></h3>

                            <div class="entry-content">
                                <p>Cargo profesional perteneciente al mundo de la empresa. ... Siguiendo esa línea, cabe
                                    señalar que existe la figura del director ejecutivo, como persona
                                    responsable del trabajo de los distintos ejecutivos pertenecientes a la estructura
                                </p>
                            </div>

                            <h3 class="entry-title flex justify-content-between align-items-center">Jóvenes
                                profecionales<span class="arrow-r"></span></h3>

                            <div class="entry-content">
                                <p>Destinada a reclutar profesionales talentosos(as) y extremadamente cualificados(as)
                                    para iniciar una carrera como funcionarios(as) internacionales en la Secretaría de
                                    Naciones Unidas.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="tabs">
                            <ul class="tabs-nav flex">
                                <li class="tab-nav flex justify-content-center align-items-center"
                                    data-target="#tab_details">VACACIONES</li>
                                <li class="tab-nav flex justify-content-center align-items-center"
                                    data-target="#tab_venue">SUELDO NETO</li>
                                <li class="tab-nav flex justify-content-center align-items-center"
                                    data-target="#tab_organizers">SUELDO BRUTO</li>
                            </ul>

                            <div class="tabs-container">
                                <div id="tab_details" class="tab-content">
                                    <p>Si bien depende bajo qué convenio laboral estés trabajando, la ley 20.744
                                        establece cuántos días libres tenés anualmente
                                        y en qué condiciones y momentos podés tomártelos. .</p>
                                    <P>¿Cuántos días te corresponden legalmente?</P>
                                    <P>Antigüedad

                                        Días de vacaciones al año
                                    <P>Entre 4 y 7 semanas de trabajo 1 día</P>
                                    <P>Entre 8 y 11 semanas de trabajo 2 días corridos</P>
                                    <P>Entre 12 y 15 semanas de trabajo 3 días corridos</P>
                                    <P>Entre 16 y 19 semanas de trabajo 4 días corridos</P>
                                    <P>Más de 20 semanas de trabajo 5 días corridos</P>
                                    <P>Más de 6 meses y hasta 5 años 14 días corridos</P>
                                    <P>Más de 5 años y hasta 10 21 días</P>
                                    <P>Más de 10 años y hasta 20 28 días</P>
                                    <P>Más de 20 años 35 días</P>
                                </div>

                                <div id="tab_venue" class="tab-content">
                                    <p>Cantidad total de dinero que se paga sin tener en cuenta las deducciones
                                        generalizadas fijadas por ley.</p>
                                </div>

                                <div id="tab_organizers" class="tab-content">
                                    <p>dinero que se deposita en la cuenta a fin de mes una vez aplicadas las
                                        deducciones de ley, aquel que el trabajador realmente percibe.
                                    <p> Jubilación:Se deduce un 11% del sueldo como aporte jubilatorio. </p>
                                    <p>Obra Social:
                                        Se descuenta un 3% en concepto del descuento que se realiza por servicios de
                                        salud, para que puedas tener acceso a asistencia médica en caso de accidente o
                                        enfermedad</p>
                                    <p>Descuento INSSJP:
                                        Se trata de una deducción del 3% destinada al Instituto Nacional de Seguridad
                                        Social para Jubilados y Pensionados (INSSJP), más conocido como PAMI.</p>
                                    <p>Cuota sindical:
                                        Dependiendo de si la empresa está sujeta a un convenio o el trabajador a un
                                        sindicato, se deduce entre un 2% y un 4% que se destinan a cada agrupación
                                        sindical o gremio. No es obligatoria.</p>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h2 class="entry-title">Ganancias</h2>
            </header>

            <div class="entry-content elements-container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="festivals">
                                <strong></strong>
                            </div>

                            <h3 class="entry-title">Otros</h3>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="concerts">
                                <strong></strong>
                            </div>

                            <h3 class="entry-title">Jefe/Supervisor</h3>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="conference">
                                <strong></strong>
                            </div>

                            <h3 class="entry-title">Primer empleo</h3>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="new_artists">
                                <strong></strong>
                            </div>

                            <h3 class="entry-title">Gerencia/Alta Gerencia<h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h2 class="entry-title">¿POR QUÉ ELEGIRNOS?</h2>
            </header>

            <div class="entry-content elements-container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="counter-box">
                            <div class="flex justify-content-center align-items-center">
                                <img src="{% static 'images/mic-icon.png' %}" alt="">
                            </div>

                            <div class="entry-content">
                                <div class="start-counter" data-to="6000" data-speed="2000">5555</div>

                                <h3 class="entry-title">+6.000 empresas
                                    confían en nosotros</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="counter-box">
                            <div class="flex justify-content-center align-items-center">
                                <img src="{% static 'images/bulb-icon.png' %}" alt="">
                            </div>

                            <div class="entry-content">
                                <div class="start-counter" data-to="2391" data-speed="2000">5555</div>

                                <h3 class="entry-title">Tenemos productos que se adaptan a cada búsqueda</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="counter-box">
                            <div class="flex justify-content-center align-items-center">
                                <img src="{% static 'images/diomond-icon.png' %}" alt="">
                            </div>

                            <div class="entry-content">
                                <div class="start-counter" data-to="1" data-speed="2000">5555</div>

                                <h3 class="entry-title">Somos líderes en reclutamiento online en Latinoamérica</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="counter-box">
                            <div class="flex justify-content-center align-items-center">
                                <img src="{% static 'images/calendar-icon.png' %}" alt="">
                            </div>

                            <div class="entry-content">
                                <div class="start-counter" data-to="1950000" data-speed="2000">5555</div>

                                <h3 class="entry-title">Contamos con +1.950.000
                                    de postulantes activos</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h2 class="entry-title" Font.size="New Roman">¡AVISO!</h2>
                <p>Los proximos empleos son los mas peleados por todos, se dara una fecha y un numero de puestos los
                    cuales
                    seran dados a conocer en esa fecha, !ELABORA TU CARTA¡
                </p>
            </header>
            {% for empleo in empleos %}
                <center>
                    <div class="entry-content elements-container">
                        <div class="row">
                            
                                <div class="icon-box">
                                    <div class="flex justify-content-between- " >
                                        <figure>
                                            <img src="" alt="">
                                        </figure>
                                        <header class="entry-header">
                                            <center><h3 div style='text-align:left' class="entry-title">{{ empleo.titulo }}</h3></center>
                                            
                                                {% if empleo.imagen.url  %}
                                                        <img src="{{ empleo.imagen.url }}" alt="No sabes">
                                                    {% else %}
                                                        <img src="{% static 'empleo/hongo.png' %}" alt="">
                                                {% endif %}

                                            
                                            <p >{{ empleo.descripcion }}</p>
                                            <div class="date"> <span>{{ empleo.fecha }}</span></div>
                                        </header>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </center>
            {% endfor %}
</div>
</div>
</div>
<div style="height: 120px;"></div>
{% endblock %}