{% extends "app/base.html" %}
{% load static %}
{% block titulo %}
 
 {% endblock %}

{% block contenido %}
<div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
    
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .container-fluid -->
</div><!-- .header-bar -->

<div class="page-header events-page-header">
<div class="container">
<div class="row">
<div class="col-12">
    <header class="entry-header">
        <h1 class="entry-title">¡Contamos Con Tigo!</h1>
    </header>
</div>
</div>
</div>
</div>
</header><!-- .site-header -->

<div class="contact-location-details">
    <div class="col-md-12">
        <h2 class="entry-title">Logout Complete</h2>
        <div class="posted-date">
            <p>Has salido de la sesión correctamente.</p>
        </div>
        <div clas="one_third">
            <p>Volver al inicio <a href="{% url 'Inicio' %}"> Aquí</a></p>
        </div>
        <div class="one_third last">
            <p>Iniciar sesión nuevamente <a href="{% url 'login' %}"> Aquí</a></p>
        </div>   
    </div>
    <div class="clear"></div>
</div>


{% endblock %}